/* Copyright 2016 LasLabs Inc.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Menu Bar */
.css-main-nav {
    margin-bottom: 0;
    min-height: 2em;
}

.css-main-nav ul.nav > li > a {
    padding: 0.625em; 
    height: 2.5em;
}

.css-main-nav div.progress {
    margin-top: .625em;
}

.oe_topbar_avatar {
    height: 1.8em;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #odooMenuBarNav[aria-expanded="false"] {
        /* Hack to hide the visibly expanded mobile menu on load. */
        position: absolute;
        z-index: -9999;
    }
}

/* Dropdown Submenu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -0.375em;
    margin-left: -0.0625em;
    -webkit-border-radius: 0 0.375em 0.375em 0.375em;
    -moz-border-radius: 0 0.375em 0.375em 0.375em;
    border-radius: 0 0.375em 0.375em 0.375em;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0.3125em 0 0.3125em 0.3125em;
    border-left-color: #cccccc;
    margin-top: 0.3125em;
    margin-right: -0.625em;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 0.625em;
    -webkit-border-radius: 0.375em 0 0.375em 0.375em;
    -moz-border-radius: 0.375em 0 0.375em 0.375em;
    border-radius: 0.375em 0 0.375em 0.375em;
}

/* App Drawer */
.css-app-drawer-nav {
    border-color: #e7e7e7;
    color: #333333;
    background-color: #f8f8f8;
}

.css-app-drawer-title {
    float: none;
}

.css-app-drawer-icon-app {
    height: 5.625em;
    width: 5.625em;
    margin: 0.625em;
}

.drawer-nav {
    width: 80%;
}

.drawer--left .drawer-nav {
    left: -80%;
}

.drawer--left.drawer-open .drawer-hamburger {
    left: 80%;
}

.drawer--right .drawer-nav {
    right: -80%;
}

.drawer-open .oe-right-toolbar {
    display: none;
}

.drawer-closed .oe-right-toolbar {
    display: block;
}

/* App Drawer Toggle */

.drawer .css-app-drawer-icon-open.navbar-collapse {
    padding: 0.3em;
    margin: 0.2em;
}

.css-app-drawer-toggle {
    background-color: transparent;
}

.drawer .css-app-drawer-icon-close {
    display: none;
}

.drawer--left.drawer-open .css-app-drawer-icon-close {
    display: block;
    position: fixed;
    z-index: 9000;
    left: 80%;
    top: 0;
}

.drawer--right.drawer-open .css-app-drawer-icon-close {
    display: block;
    position: fixed;
    z-index: 9000;
    left: -80%;
    top: 0;
}

.css-app-drawer-toggle.navbar-toggle {
    margin-left: 1em;
}

.keyboard-selected {
    color: #22527b;
    background-color: #eeeeee;
}
