.o_xxs_form_mobile_view {
    padding: 0.3rem !important;
}

.o_field_x2many_search_kanban {
    > div {
        width: unset !important;
    }

    .o_cp_buttons {
        width: 100%;
    }

    .o_kanban_search {
        //min-width: 100%;
        max-height: 500px;
        overflow: auto;
        margin-left: 0;
        margin-right: 0;

        .oe_kanban_flip_card {
            background-color: transparent;
            perspective: 1000px;
            // width: 150px;
            height: 150px;

            .oe_kanban_flip_card_inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;

                &.active {
                    transform: rotateY(180deg);
                }

                .oe_kanban_flip_card_front,
                .oe_kanban_flip_card_back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                    border: 1px solid $border-color;
                    overflow: hidden;
                }

                .oe_kanban_flip_card_front {
                    background-color: white;
                    color: black;
                }

                .oe_kanban_flip_card_back {
                    background-color: $secondary;
                    transform: rotateY(180deg);
                }

                .o_kanban_form_view {
                    background-color: transparent;
                }
            }

            .oe_kanban_title {
                background-color: hsla(0, 0%, 100%, 0.667);
                font-size: 0.95rem;
                z-index: 0;
            }
        }
    }
}
