/* Copyright 2016 LasLabs Inc.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// App Drawer / Icons

@app-drawer-icon-size:      5.625em;
@app-drawer-icon-margin:    0.625em;
@app-drawer-width:          80%;

// Navbar

@navbar-height:  30px;
@navbar-padding-vertical: 5px;
@navbar-padding-horizontal: 10px;
